@use 'styles/background';
@use 'styles/utils';

.container {
  @include background.green-gradient-background;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.line {
  margin: 3rem auto;
  width: 80vw;
  background-color: #6dff40;

  @include utils.desktop {
    height: 5px;
  }
  @include utils.mobile {
    height: 2px;
  }
}

.containerText {
  text-align: left;
}