@use 'styles/background';

.container {
  @include background.green-gradient-background;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.containerText{
  text-align: left;
}