@use "styles/background";
@use "styles/utils";

.container {
  @include background.green-gradient-background;

  @include utils.center-all;
}

.line {
  margin: 3rem auto;
  width: 80vw;
  background-color: utils.$c_green_line;

  @include utils.desktop {
    height: 5px;
  }
  @include utils.mobile {
    height: 2px;
  }
}

.containerText {
  text-align: left;
}