@use "styles/background";
@use "styles/utils";

.container {
  color: utils.$c_green_66;
  width: 100%;
  height: 200vh;

  position: relative;
}

.header {
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;

  font-style: italic;
  @include utils.desktop { 
    font-size: 120px !important; 
  }
  @include utils.mobile { 
    font-size: 28pt !important; 
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.scene {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.stats {
  position: absolute;
  z-index: 1;
  @include utils.desktop {
    bottom: 10%;
    left: 50%;
    margin-left: -33.3%;;
    width: 66.6%;
    height: 66.6%;
  }
  @include utils.mobile {
    bottom: 0%;
    left: 50%;
    margin-left: -50%;;
    width: 100%;
    height: 100%;
  }
}

.section2l {
  @media (orientation: landscape) {
    display: block;
  }
  @media (orientation: portrait) {
    display: none;
  }
}

.section2p {
  @media (orientation: landscape) {
    display: none;
  }
  @media (orientation: portrait) {
    display: block;
  }
}
