@use 'styles/background';
@use 'styles/utils';

.container {
  background-image: url(../../public/sections/02/map-full-size.svg);
  background-size: contain;
  background-position: center;
  background-attachment: fixed;

  @include background.padding-vertical;
  color: #006600;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header {
  @include utils.desktop { 
    font-size: 120px !important; 
  }
  @include utils.mobile { 
    font-size: 28pt !important; 
  }
  font-style: italic;
  padding: 1em 0;
}
