@use 'styles/background';

.container {
  @include background.green66-background;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.svg {
  width: 100px;
}
