@use 'styles/background';
@use 'styles/text';

.container {
  // height: 30em;
  @include background.green66-background;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
