@use "styles/background";
@use "styles/utils";

.container {
  @include background.green66-background;
  width: 100%;

  @include utils.center-all;
}

.box {
  margin: 1em 0;
  background-color: utils.$c_green_99;
  @include utils.desktop {
    height: 100px;
  }
  @include utils.mobile {
    height: 83.33vw;
  }
}
