@use 'styles/background';
@use 'styles/utils';

.container {
  @include background.green66-background;
  
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.box {
  margin: 1em 0;
  background-color: #009900;
  @include utils.desktop {
    width: 50vw;
    height: 100px;
  }
  @include utils.mobile {
    width: 50vw;
    height: 50vw;
  }
}
