@use "styles/background";
@use "styles/utils";

.container {
  @include background.green66-background;
  width: 100%;

  @include utils.center-all;
}

.cardWrap {
  @include utils.center-all;
  margin: auto;
  padding: 2em 0em;
  row-gap: 1.5rem;
  @include utils.desktop {
    width: 50%;
  }
  @include utils.mobile {
    width: 100%;
  }
}
