@use "styles/background";
@use "styles/utils";

.cover {
  position:absolute;
	top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  // color: $c_dark_blue;
  font-weight: 100;
  transition: 0.5s ease-out;
  @include utils.desktop { font-size: 8rem; }
  @include utils.mobile { font-size: 5rem; }
}
.overlay {
  position: absolute;
  bottom: 10%;
  left: 10%;
	width:80%;
  opacity: 0;
  // color: $c_white;
  text-align: start;
  transition: 0.5s ease-out;
  @include utils.mobile { font-size: 0.5rem; }
}
.description {
  font-weight: 700;
  margin: 10px 0px;
}
.container:hover .image {
  opacity: 0.3;
}
.container:hover .cover {
  opacity: 0.3;
  // color: $c_white;
}
.container:hover .overlay {
  opacity: 1;
}