@use 'styles/background';
@use 'styles/utils';

.container {
  color: #006600;
  width: 100%;
  height: 100vh;

  position: relative;
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;

  background-image: url(../../public/sections/02/map-full-size.svg);
  background-size: 25%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
}

.header {
  font-style: italic;
  @include utils.desktop { 
    font-size: 120px !important; 
  }
  @include utils.mobile { 
    font-size: 28pt !important; 
  }
}
