@mixin padding-vertical {
  padding: 3em 0em;
}

@mixin green66-background {
  @include padding-vertical;

  background-color: #006600;
  color: white;
}

@mixin green99-background {
  @include padding-vertical;

  background-color: #009900;
  color: white;
}

@mixin white-background {
  @include padding-vertical;
  
  background-color: white;
  color: #006600;
}