@use "styles/utils";

@mixin padding-vertical {
  padding: 3rem 0rem;
}

@mixin green-gradient-background {
  @include padding-vertical;

  background-image: linear-gradient(
    utils.$c_green_66,
    utils.$c_green_99
  );
  color: white;
}

@mixin green66-background {
  @include padding-vertical;

  background-color: utils.$c_green_66;
  color: white;
}

@mixin green99-background {
  @include padding-vertical;

  background-color: utils.$c_green_99;
  color: white;
}

@mixin white-background {
  @include padding-vertical;
  
  background-color: white;
  color: utils.$c_green_66;
}